*{
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
}
.btn{
    border: 2px solid blueviolet;
    border-radius: 20px;
    background-color: transparent;
    color: blueviolet;
    padding: 1% 2%;
    font-size: 1.5em;
}
.btn:hover{
    cursor: pointer;
    color: white;
    background-color: blueviolet;
    transition: all .3s ease;
}
header{
    width: 80%;
    margin: auto;
    padding: 30px 0px;
}
.logo{
    width: 40px;
    height: 45px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav a{
    text-decoration: none;
    font-size: 1.5em;
    padding: 10px;
    color: black;
}
nav a:hover{
    border-bottom: 2px solid black;
    color: rgb(99, 99, 99);
}

.top-banner{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#top-banner-title{
    font-size: 2.5em;
    margin-bottom: 0;
}
#top-banner-tagline{
    font-size: 1.5em;
}
#top-banner-profile-pic{
    margin: 3%;
    border-radius: 50%;
    width: 20%;
    height: 20%;
}

.introduction{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
#introduction-setup-image{
    width: 50%;
}
.introduction-detail{
    padding: 10% 0 20% 0;
    background-color: #2e2e2e;
}
.introduction-detail div{
    color: white;
    width: 70%;
    margin: auto;
}
.introduction-detail h1{
    font-size: 2em;
    padding-bottom: 2%;
    text-align: center;
}
.introduction-detail p{
    font-size: 1.5em;
    line-height: 1.8em;
    text-align: center;
}
.pricing{
    position: absolute;
    bottom: -30%;
    display: flex;
    width: 80%;
    border-radius: 20px;
    background-color: white;
    box-shadow: 1px 1px 5px #888888;
}
.designer{
    width: 33.33%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: .5px solid rgb(146, 142, 142);
}
.developer{
    width: 33.33%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: .5px solid gray;
}
.mentor{
    width: 33.33%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.designer img, .developer img, .mentor img{
    width: 20%;
}
.designer h2, .developer h2, .mentor h2{
    margin-top: 5%;
}
.designer h3, .developer h3, .mentor h3{
    margin-top: 8%;
    color: blueviolet;
    font-size: 1.3em;
}
.designer p, .developer p, .mentor p{
    margin-top: 2%;
    font-size: 1.2em;
}
.works-container{
    width: 80%;
    margin: auto;
    margin-top: 50vh;
}
.works-title{
    font-size: 3em;
    text-align: center;
}
.works-tagline{
    font-size: 1.2em;
    text-align: center;
}
.works{
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
}
.work{
    position: relative;
    width: 31.86%;
    border-radius: 20px;
    margin-bottom: 20px;
}
.work-image{
    width: 100%;
    border-radius: 20px;
}
.work-absolute{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(1, 1, 41);
    opacity: 0;
    border-radius: 20px;
}
.work-absolute p{
    font-size: 1.2em;
    color: white;
    padding: 20% 10% 10% 10%;
}
.work-absolute button{
    font-size: 1.2em;
    padding: 3% 5%;
    margin: 0 30%;
    border: 2px solid blueviolet;
    border-radius: 20px;
    background-color: transparent;
    color: white;
    transition: background-color .3s ease;
}
.work-absolute button:hover{
    cursor: pointer;
    background-color: blueviolet;
}
.work-absolute:hover{
    opacity: 1;
    color: white;
    transition: opacity .5s ease;
}
.see-more-btn{
    text-align: center;
    margin: 5% 0;
}
.collaborations h1{ 
    text-align: center;
    font-size: 2em;
}
.companies{
    width: 80%;
    margin: 5% auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.companies img{
    min-width: 300px;
    min-height: 110px;
}

.startup-projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.startup-details{
    padding: 10% 0 20% 0;
    background-color: #2e2e2e;   
}
.startup-details div{
    color: white;
    width: 70%;
    margin: auto;
}
.startup-details h1{
    font-size: 2em;
    padding-bottom: 2%;
    text-align: center;
}
.startup-details p{
    font-size: 1.5em;
    line-height: 1.8em;
    text-align: center;
}
.projects{
    position: absolute;
    top: 70%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2%;
    width: 80%;
    border-radius: 20px;
}
.project{
    padding: 2% 4%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    background-color: white;
    box-shadow: 1px 1px 5px #888888;

}
.project img{
    width: 200px;
    height: 100px;
}
.project p{
    margin: 3% 0;
    padding: 0 3%;
    font-size: 1.3em;
}
.project :nth-child(3n){
    text-decoration: none;
    background-color: gainsboro;
    padding: 2% 4%;
    border-radius: 1.2em;
    font-size: 1em;
}
.project a:hover{
    text-decoration: underline;
}

footer{
    margin-top: 45%;
}
.connect{
    position: absolute;
    top: -15%;
    left: 50%;
    transform: translate(-50%);
    background-color: #141c3a;
    border-radius: .6em;
    width: 70%;
    margin: auto;
    padding: 2%;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.2em;
    box-sizing: border-box;
}
.connect :nth-child(2n){
    width: 33%;
}
.connect button{
    background-color: transparent;
    border: 2px solid #5BE9B9;
    border-radius: 1.5em;
    color: white;
    padding: 1% 3%;
    font-size: 1em;
}
.connect button a{
    text-decoration: none;
    color: white;
}
.connect button:hover{
    cursor: pointer;
    background-color: #5BE9B9;
    color: black;
    transition: all .3s ease;
}
footer{
    position: relative;
    background-color: #6E07F3;
    text-align: center;
    padding: 10% 0;
}
.footer-tagline{
    font-size: 1.5em;
    margin-top: 3%;
    color: #888888;
}
.social-links{
    margin: 2% 0;
}
.social-links img{
    width: 35px;
    margin: 5px;
}
.writter{
    font-size: 1.2em;
    color: gray;
}